body {
    margin: 0;
    overflow: hidden;
    background-color: #d0d0d0; /* UI background color */
}

canvas#gameCanvas {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* Shop Icon styling */
#shopIcon {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
    z-index: 100; /* above canvas */
}

/* Modal (shop overlay) styling */
.modal {
    display: none; /* hidden by default */
    position: fixed;
    z-index: 500;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}


.modal-content {
    position: absolute;
    width: 300px;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 10px;
    /* Initially center the modal */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.shop-header {
    cursor: move;
    background-color: #f1f1f1;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}


#controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#controls button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
}

#autoTyperInfo button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 14px;
}

.infoPanel {
    position: fixed;
    top: 98px;
    left: 20px;       
    width: 150px;     
    padding: 10px;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 5px;
    z-index: 10;
    font-family: sans-serif;
}

#playerWPM {
    position: fixed;
    top: 110px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background: #fff;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 5px;
  }
#statMeter {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 5px;
}
